.solution{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 90px;
}
.cont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  background: white;
  border-radius: 10px;
}
.box{
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 30px;
}
.icon{
  color: var(--main);
  display: inline-block;
  margin-right: 10px;
  font-size: 22px;
}
.p{
  color: #777
}
@media (max-width: 992px) {
  .cont{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .cont{
    grid-template-columns: 1fr;
  }
}

/* --About section-- */

.about{
  margin-top: 120px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px
}
.heading{
  text-align: start;
  margin: 0;
  margin-bottom: 50px;
}
.ab_cont{
  margin: 30px 0;
}
.imgs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.img{
  display: grid;
  gap: 20px;
}
@media (max-width: 992px) {
  .about{
    grid-template-columns: 1fr;
  }
}
/* Quote section */
.quote{
  margin: 250px 0;
  /* margin-bottom: 150px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img_co{
  position: relative;
}
.overLeay{
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.283);
}
.q{
  background-color: var(--secondry);
  padding: 30px;
  position: relative;
  top: 50px;
  display: grid;
  align-content: space-evenly;
}
.qp{
  font-size: 30px;
  flex: 1;
}
@media (max-width: 992px) {
  .qp{
    font-size: 20px;
  }
}
@media (max-width: 766px) {
  .quote{
    display: flex;
    margin: 100px 0;
  }
  .q{
    width: 100%;
    height: 100%;
    gap: 50px;
  }
  .qp{
    font-size: 16px;
  }
  .img_co{
    display: none;
  }
}
.person{
  display: flex;
  gap: 20px;
  align-items: center;
}
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}